@import "tailwindcss";

@theme {
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #BFBFBF;
  --color-textbox-login: #FFF1F1;
  --color-textbox-login-hover: #FFE2E2;
  --color-bg-gradient-start: #00082D;
  --color-bg-gradient-end: #001677;
}